---
layout: default
---

<!-- Logo -->
<section class="bg-dark text-light text-center">
    <div class="container pb-4 pt-3">
        <img class="img-fluid w-75-sm-100" src="/assets/images/logo_text_subtext_white.svg" />
    </div>
</section>

<!-- Services -->
<section id="services" class="anchor bg-light text-dark text-center pb-4 card-group">
    {% include services.html %}
</section>

<!-- Projects -->
<section id="projects" class="anchor bg-dark text-dark text-center pb-4 card-group">
    {% include projects.html %}
</section>

<!-- About me -->
<section id="aboutme" class="anchor bg-light text-dark">
    {% include aboutme.html %}
</section>

<!-- Contact -->
<section id="contact" class="anchor bg-dark text-light">
    {% include contact.html %}
</section>