<div class="container-md pb-lg-3">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="pt-4 fw-bold">Contact</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/phone-fill.svg" class="me-1 rounded bg-light"> Phone: <a class="link-light" href="tel:+31682019404">+31 (0) 6 82 01 94 04</a>
        </div>
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/envelope-fill.svg" class="me-1 rounded bg-light"> Mail: <a class="link-light" href="mailto:contact@bitsadmin.com">contact@bitsadmin.com</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/linkedin.svg" class="me-1 rounded bg-light"> LinkedIn: <a class="link-light" href="https://www.linkedin.com/in/arrishuijgen/">https://www.linkedin.com/in/arrishuijgen</a>
        </div>
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/window.svg" class="me-1 rounded bg-light"> Blog: <a class="link-light" href="https://blog.bitsadmin.com/">https://blog.bitsadmin.com</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/twitter.svg" class="me-1 rounded bg-light"> Twitter: <a class="link-light" href="https://twitter.com/bitsadmin/">https://twitter.com/bitsadmin</a>
        </div>
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/github.svg" class="me-1 rounded bg-light"> GitHub: <a class="link-light" href="https://github.com/bitsadmin/">https://github.com/bitsadmin</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 pb-2">
            <img src="/assets/images/icons/mastodon.svg" class="me-1 rounded bg-light"> Mastodon: <a rel="me" class="link-light" href="https://infosec.exchange/@bitsadmin">https://infosec.exchange/@bitsadmin</a>
        </div>
        <div class="col-lg-6 pb-2">
            &nbsp;
        </div>
    </div>
</div>