<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="/"><img class="d-none d-sm-block" height="30px" src="https://static.bitsadmin.com/logo_text_white.svg" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" target="_blank" href="https://blog.bitsadmin.com/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#aboutme">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="overflow-hidden">
        {{ content }}
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
